{% extends 'base.html.twig' %}

{% block title %}TipoItem{% endblock %}

{% block body %}
    <h1>TipoItem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_item.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo_item.descripcion }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ tipo_item.createdBy }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tipo_item.createdAt ? tipo_item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateBy</th>
                <td>{{ tipo_item.updateBy }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ tipo_item.updatedAt ? tipo_item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('acreditacion_tipo_item_index') }}">back to list</a>

    <a href="{{ path('acreditacion_tipo_item_edit', {'id': tipo_item.id}) }}">edit</a>

    {{ include('acreditacion_tipo_item/_delete_form.html.twig') }}
{% endblock %}
